@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tema Tailwind Inline */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* --------------------------
   GLOBAL BODY STYLES
--------------------------- */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
